@using Microsoft.AspNetCore.Mvc.Routing
@using Steve.Web.Controllers;
@using Steve.BLL.Interfaces

@inject IGoodsService srv
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewявscale=1.0">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a asp-controller="Goods" asp-action="GoodsList" class="navbar-brand">Steve</a>
        <a asp-controller="Home" asp-action="Login" class="navbar-brand">Login</a>
        <a asp-controller="Home" asp-action="Registration" class="navbar-brand">Registration</a>
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @{var menu = new NavController(srv);}

            @Html.ActionLink("Home", "GoodsList", "Goods", null,
           new { @class = "btn btn-block btn-default btn-lg" })
            @{
                foreach (string link in menu.Menu())
                {
                    @Html.RouteLink(link, new
                    {
                        controller = "Goods",
                        action = "GoodsList",
                        category = link,
                        page = 1
                    }, new
                    {
                        @class = "btn btn-block btn-default btn-lg"
                    })
                }
            }
            <br />
        </div>


        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>