@model Steve.Web.Models.ChangePasswordByEmailViewModel
@{
    ViewData["Title"] = "ChangePasswordByEmail";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Change password</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <div>
                <br />
                <p><input type="text" asp-for="Login" placeholder="Login" /></p>
            </div>
            <div>
                <input type="submit" value="Send" />
            </div>
        }
    </div>
</body>
</html>