
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>
<body>
    <form method="post">
        <div>
            <br />
            <p><input type="text" name="Login" placeholder="Login" /></p>
            <p><input type="password" name="Password" placeholder="Password" /></p>
            <p><input type="submit" value="Login" />
            <a asp-area="" asp-controller="Home" asp-action="ChangePasswordByEmail">&nbspForgot password?</a>
        </div>
    </form>
</body>
</html>

