@{
    ViewData["Title"] = "Admin Panel";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin Panel</title>
</head>
<body>
    <form method="post">
        <div>
          <h1>Here will be Admin Panel</h1>  
        </div>
    </form>
</body>
</html>
