<!DOCTYPE html>
@using Steve.BLL.Models;
@model EmailViewModel
@{
    ViewData["Title"] = "Send Email";
}
<html>
<head>
    <meta charset="utf-8">
    <title>Send Email</title>
</head>
<body>
    <form method="post">
        <div>
            <h1>Send Email</h1>
        </div>

        <br />

        <div>
            <p><input type="text" asp-for="FromAdressTitle" size="101" placeholder="From Adress Title" /></p>
        </div>

        <div>
            <p><input type="text" asp-for="ToAddress" size="101" placeholder="To Address" /></p>
        </div>

        <div>
            <p><input type="text" asp-for="Subject" size="101" placeholder="Subject" /></p>
        </div>

        <div>
            <p><textarea asp-for="BodyContent" rows="15" cols="102" placeholder="Body Content"></textarea></p>
        </div>

        <div>
            <label asp-for="SendingTime">Timer: </label>
            <input type="datetime-local" asp-for="SendingTime" value="" />

            <h2>List of users</h2>

            @for (var i = 0; i < Model.UserList.Count(); i++)
            {
                <table>
                    <tr>
                        <td>
                            <input type="hidden" asp-for="UserList[i].Id" />
                            <input type="hidden" asp-for="UserList[i].Email" />
                            <input type="hidden" asp-for="UserList[i].Login" />

                            <text>User @Model.UserList[i].Login</text>
                        </td>

                        <td>
                            <input type="checkbox" asp-for="UserList[i].Checked" />
                        </td>
                    </tr>
                </table>
            }
            <br />

            <div>
                <p><input type="submit" value="Send" /></p>

            </div>
        </div>

    </form>
</body>
</html>
