
@using Steve.Web.Models
@using Steve.Web.HtmlHelpers
@model LaptopListViewModel

@{
    ViewData["Title"] = "Laptops";
}

@foreach (var l in @Model.Laptops)
{
    @Html.Partial("LaptopSummary", l)
}

<div class="btn-group pull-right">
    @Steve.Web.HtmlHelpers.PagingHelper.PageLinks(Model.PagingInfo, x => Url.Action("GoodsList",
    new { page = x, category = Model.CurrentCategory }))
</div>

